<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asdf.myoschina">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.hardware.sensor.accelerometer"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--sharesdk -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".global.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyPageIndicatorDefaults">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/MyPageIndicatorDefaults"
            >
        </activity>
        <activity
            android:name=".activity.SpalshActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activity.UrlPortActivity" />
        <activity android:name=".activity.EditActivity" />
        <activity android:name=".activity.SearchPagerActivity" />
        <activity android:name="convery.activity.ShakeActivity"/>
        <activity android:name="comprehensive.activity.DetailPagerActivity"/>
        <activity android:name="move.activity.MoveDetailActivity"/>
        <activity android:name="convery.activity.FriendActivity"/>
        <activity android:name="convery.activity.FindFriendActivity"/>
        <activity android:name="convery.activity.UserActivity"/>
        <activity android:name="convery.activity.MyActivity"/>
        <activity android:name="convery.activity.NewActivity"/>
        <activity android:name="com.xys.libzxing.zxing.activity.CaptureActivity"/>
         <!--sharesdk的activity -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
         <meta-data
        android:name="UMENG_APPKEY"
        android:value="59e4abb5734be4675a00092c">
    </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="ef2cc5a8e4ab55e8e7816cd623b5c313">
        </meta-data>

    </application>
</manifest>